<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Telephone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="per in clients">
            <td>{{per.FirstName}}</td>
            <td>{{per.LastName}}</td>
            <td>{{per.PostCode + ' ' + per.City + ', ' + per.Street}}</td>
            <td>{{per.Telephone}}</td>
            <td>{{per.Email}}</td>
        </tr>
    </tbody>
</table>